{% extends "layouts/base.html" %}
{% block content %}
<h2> Media reviews </h2>
<div>
    {% for type, medias in collections.media | groupby("data.type") %}
    <div>
        <h3>
        {{ type }}
        </h3>
        {% for media in medias %}
        <li>
            <a href="{{ media.url }}">
                {{ media.data.title }}</a>
            <span class="date-posted">
                last updated {{ media.data.updated.toLocaleDateString() }}
            </span>
            <br>
        </li>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

