<style>
    a {
        color: black
    }

    a:visited {
        color: black
    }

    a:hover {
        color: black
    }

    a:focus {
        color: black
    }

    a:active {
        color: white
    }

    body {
        margin: auto;
        max-width: 600px;
        font-family: "Inter", "sans-serif";
    }

    @font-face {
        font-family: "Inter";
        src: url("/static/fonts/Inter-Regular.ttf"), url("/static/fonts/Inter-Italic.ttf");
    }

    h1 {
        font-weight: bold;
        margin: 20px 0 0;
    }

    nav {
        margin: 0 0 20px;
    }
</style>